body {
background: lightslategray;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: snow;
text-align: center;
}
.projects {
     display:flex; flex-wrap:wrap; 
    } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: purple; /* pick a color */
    border-radius: 25%;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); color:black;
display: block;
margin: auto;
}

.about img{
width: 300px;
height: 300px;
margin: 10px;
}